body {
    margin: 0;
    min-height: 100vh;

    /* Background image */
    background: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("background.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    padding: 15px;
    
    text-align: right;
    border-radius: 25px;
}

nav button {
    margin-left: 10px;
    padding: 8px 12px;
    background: hsl(211, 83%, 68%);
    border-radius: 25px;
    color: #eaf2ff;
    cursor: pointer;
}

section {
    display: none;
    padding: 40px;
}

section.active {
    display: block;
    border-radius: 10px;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 100px;
}

input, select {
    display: block;
    margin: 10px 0;
    padding: 8px;
    border-radius: 10px;
    width: 60%;
}

.container {
    background: #ffffff;
    width: 95%;
    max-width: 650px;
    padding: 45px 40px;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.07);
    text-align: center;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container:hover {
    box-shadow: 0 20px 50px #8274d41a;
    border-radius: 25px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;   /* Fully curved */
    cursor: pointer;
    transition: 0.3s ease; /* Smooth hover animation */
}

button:hover {
    transform: scale(1.05);        /* Slight enlarge */
    background-color: #555555;        /* Change color on hover */
}